serverHostName={{ server_aws_public_ip }}
sys.languageId=en
disableEULA=true

platformAdmin.port=9191
platformAdmin.databasePort=3377
platformAdmin.dataDir=/opt/appdynamics/platform/mysql/data
platformAdmin.databasePassword={{ appdPassword }}
platformAdmin.databaseRootPassword={{ appdPassword }}
platformAdmin.adminPassword={{ appdPassword }}
platformAdmin.useHttps$Boolean={{ appdHTTPS }}
sys.installationDir=/opt/appdynamics/platform
